.box-layout {
  align-items: center;
  // background: url('/images/bg.jpg');
  background-color: #1F2125;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}



.box-layout__box {
  background: fade-out(white, .15);
  border-radius: 3px;
  padding: $l-size $m-size;
  // text-align: center;
  // width: 28rem;

}

.box-layout__header {
  align-items: center;
  // background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction:column;
  
}

.box-layout__title {
  font-size:1.4rem;
  // font-size:1.57rem;
  // margin: 8 0 $m-size 0;
  line-height: 1;
  // padding-top: $m-size;
}
